<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @posto_graduacao.name %>
</p>

<%= link_to 'Edit', edit_posto_graduacao_path(@posto_graduacao) %> |
<%= link_to 'Back', posto_graduacaos_path %>
